*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  width: 98.9vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


button{
  min-width: 40px;
}

.cyan{
  background-color: aqua;
}

.yellowgreen{
  background-color: yellowgreen;
}

.violet{
  background-color: violet;
}

.default{
  background-color: #fff;
}

button{
  appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.bgColor{
  color: #fff;
}

.bgColor > button{
  width: 80px;
  height: 30px;
  margin: 10px;
  background-color: #fff;
}

.positionWrapper > button{
  width: 120px;
  height: 40px;
  padding: 2px;
  /* color: #fff; */
}

.positionValues > p{
  margin: 10px;
}